.ant-modal-content {
  width: 340px;
}

.ant-main-text {
  font-size: 24px;
  font-family: "ApexMk2-Regular", sans-serif;
  text-align: center;
}



.ant-main-body {
  padding-bottom: 10px;
}

.ant-modal-footer {
  display: none;
}

/* 2nd modal */
.ant-modal{
  position: relative;
}

.modal-Styles-cnftp {
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translate(-50%);
  background-color: rebeccapurple;
}
